.todoItem {
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    gap: 10px;
}

.todoItem:hover {
    border-color: darkgray;
}

.indexTodo {
    width: 5%;
}

.textTodo {
    width: 40%;
    word-wrap: break-word;
}

.editInput {
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.dateTodo {
    width: 30%;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.button:hover {
    opacity: 0.7;
    transform: scale(1.05);
}
.editButton {

}
.deleteButton {

}
