.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.tab {
    cursor: pointer;
    padding: 5px 15px;
    background: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: all 0.2s;
}

.tab:hover {
    background: lightgray;
}

.activeTab {
    background-color: lightblue;
}