.controls {
    border-bottom: 1px solid black;
}

.controlsHeader {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
}

.sortControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.fields {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.field {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.field:hover {
    opacity: 0.7;
    transform: scale(1.01);
}


